body {
  font-family: sans-serif;
}

.navbar {
  font-size: 2rem;
}

.navbar ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  float: left;
  display: inline;
  padding: 10px;
  background-color: #60966a;
  margin: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li a:hover li {
  background-color: #345039;
}

#logo {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
  background-color: #345039;
}
